body {
  background-image: url("darkmode.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
#txt {
  color: #ECDC68;
  background-color: #323330;
}
#cookies {
  background-color: #ECDC68;
  color: #323330;
}